*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
	display: none;
}

:root {
	--section-grey: #202020;
    --grey-button: #090909;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	font-family: "Roboto", sans-serif;
    text-transform: capitalize;
	font-style: normal;
	position: relative;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	overflow-x: hidden;
	background-color: #000;
}

.grey-bg {
	background-color: var(--section-grey);
}
strong{font-weight: 500;}
h1,
.h1,
h2,
.h2,
h3,
.h3{
	letter-spacing: 0;
	line-height: 1.14;
}

h1,
.h1 {
	font-size: 3.5rem;
	font-weight: 200;
}

h2,
.h2 {
	font-size: 2.6rem;
    font-weight: 200;
}

h3,
.h3 {
	font-size: 2rem;
}
h4,
.h4 {
	font-size: 1.8rem;
    font-weight: 400;
}
h5 {
	font-size: 1.6rem;
    font-weight: 400;
}

h6 {
	font-size: 1.2rem;
    font-weight: 400;
}

p {
	font-size: 1.4rem;
    font-weight: 400;
    color: #A9A9A9;
    line-height: 1.6;
    text-transform: capitalize;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

a,
button,
img {
	transition: all 0.4s ease;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

.ctn,
.center,
.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.italic {
	font-style: italic;
}

.hidden {
	display: none !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block;
}

.inline-flex {
	display: inline-flex;
}

button {
	cursor: pointer;
	outline: none;
}

.max-1920 {
	max-width: 1920px;
	margin: 0 auto;
}

.slick-slide {
	display: flex;
	height: inherit;
}

.slick-track {
	display: flex !important;
	flex-wrap: nowrap;
}

a {
	text-decoration: none;
	color: inherit;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-3 {
	margin-top: 3rem;
}

.mt-4 {
	margin-top: 4rem;
}

.mt-5 {
	margin-top: 5rem;
}

.mt-6 {
	margin-top: 6rem;
}

.mt-7 {
	margin-top: 7rem;
}

.mt-8 {
	margin-top: 8rem;
}

.mt-9 {
	margin-top: 9rem;
}

.mt-10 {
	margin-top: 10rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

.mb-4 {
	margin-bottom: 4rem;
}

.mb-5 {
	margin-bottom: 5rem;
}

.mb-7 {
	margin-bottom: 7rem;
}

.mb-8 {
	margin-bottom: 8rem;
}

.mb-9 {
	margin-bottom: 9rem;
}

.mb-10 {
	margin-bottom: 10rem;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.com-padding {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.bottom-padding {
	padding-bottom: 5rem;
}

.top-padding {
	padding-top: 5rem;
}

.show-750 {
	display: none !important;
}

img {
	max-width: 100%;
}


.grid {
	display: grid;
}

.grid-box-2,
.grid-col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.grid-box-3,
.grid-col-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.grid-box-4,
.grid-col-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.grid-box-5,
.grid-col-5 {
	grid-template-columns: repeat(5, 1fr);
}

.grid-gap-2 {
	grid-gap: 2rem 2rem;
}

.grid-gap-3 {
	grid-gap: 3rem 3rem;
}

.grid-gap-4 {
	grid-gap: 4rem 4rem;
}

.grid-gap-5 {
	grid-gap: 5rem 5rem;
}

.grid-gap-6 {
	grid-gap: 6rem 6rem;
}

.grid-gap-7 {
	grid-gap: 7rem 7rem;
}

.white-text>*,
.white-text,
.text-white {
	color: #fff !important;
}

.text-black {
	color: var(--black);
}

.box-center,
.mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.flex-box {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-1 {
	flex: 1;
}

.space-between,
.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.flex-center,
.align-center {
	align-items: center;
}

.flex-up,
.align-start {
	align-items: flex-start;
}

.flex-down,
.align-end {
	align-items: flex-end;
}

.col-1,
.w-10 {
	width: 10%;
}

.col-15,
.w-15 {
	width: 15%;
}

.col-25,
.w-25 {
	width: 25%;
}

.col-2,
.w-20 {
	width: 20%;
}

.col-3,
.w-30 {
	width: 30%;
}

.col-33,
.w-33 {
	width: 33.33%;
}

.col-35,
.w-35 {
	width: 35%;
}

.col-4,
.w-40 {
	width: 40%;
}

.col-45,
.w-45 {
	width: 45%;
}

.col-5,
.w-50 {
	width: 50%;
}

.col-55,
.w-55 {
	width: 55%;
}

.col-6,
.w-60 {
	width: 60%;
}

.col-65,
.w-65 {
	width: 65%;
}

.col-7,
.w-70 {
	width: 70%;
}

.col-8,
.w-80 {
	width: 80%;
}

.col-85,
.w-85 {
	width: 85%;
}

.col-9,
.w-90 {
	width: 90%;
}

.col-75,
.w-75 {
	width: 75%;
}

.col-100,
.full-col,
.w-100,
.w-full {
	width: 100%;
}

.w-max {
	width: max-content;
}

.h-100 {
	height: 100%;
}

.h-auto {
	height: auto;
}

.z-2 {
	z-index: 2;
}

.z-3 {
	z-index: 3;
}

.z-4 {
	z-index: 4;
}

.z-5 {
	z-index: 5;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.sticky {
	position: sticky;
}

.sticky-box {
	position: sticky;
	top: 15rem;
}

.top-0 {
	top: 0;
}

.bottom-0 {
	bottom: 0;
}

.left-0 {
	left: 0;
}

.right-0 {
	right: 0;
}

.bg-white {
	background-color: var(--white);
}

.bg-green {
	background-color: var(--green);
}

.large-pera {
	font-size: 3rem;
}

.font-light {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.overflow-hidden {
	overflow: hidden;
}
.hamburger {
  position: relative;
  width: 2.25rem;
  height: 1.6rem;
  font-size: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hamburger-line {
  position: absolute;
  right: 0;
  width: 100%;
  height: .16rem;
  border-radius: 1rem;
  background: currentColor;
  transition: inherit;
  background-color: #6E6D73;
}
.hamburger-line:nth-child(1) {
  top: 0.125em;
}
.hamburger.is-active .hamburger-line:nth-child(1), .w-nav-button.w--open .hamburger-line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotateZ(-135deg);
}
.hamburger-line:nth-child(2) {
  top: .7rem;
}
.hamburger.is-active .hamburger-line:nth-child(2), .w-nav-button.w--open .hamburger-line:nth-child(2) {
  right: 50%;
  width: 0;
}
.hamburger-line:nth-child(3) {
top: 1.3rem;
  width: 1.2rem;
}
.hamburger.is-active .hamburger-line:nth-child(3), .w-nav-button.w--open .hamburger-line:nth-child(3) {
  top: 50%;
  width: 100%;
  transform: translateY(-50%) rotateZ(135deg);
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 2.5rem;
    width: 100%;
}
header{
    padding-top: 2.5rem;
}

.Explore-list  .explore-item {
  position: relative;
  font-size: 0;
  margin-top: 3rem;
}
.Explore-list  .explore-item a{
    display: block;
}
.Explore-list .explore-item .img-box video,.Explore-list .explore-item .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  max-height: 28rem;
  object-fit: cover;
}
.Explore-list .explore-item .img-box {
  position: relative;
}

.Explore-list .explore-item .detail-box {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 87%;
}
ul.tick-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: .5rem;
  margin-top: 1rem;
}
ul.tick-box li {
  background: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(4px);
  font-size: 1.2rem;
  border-radius: 5rem;
  padding: .7rem 1.2rem .7rem 2.5rem;
  color: #D7D7D7;
  position: relative;
}
ul.tick-box li::after{
    content: '';
    position: absolute;
    background: url(../img/tick-icon.png) no-repeat;
    width: 1.1rem;
    height: .8rem;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.Explore-list .explore-item .com-logo {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  z-index: 1;
}
.Explore-list .explore-item .detail-box h6{
    color: #ddd;
}

ul.bidding-usp-list {
  margin: 2.2rem 0;
}
ul.bidding-usp-list li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
ul.bidding-usp-list li:last-child{
    margin-bottom: 0;
}
ul.bidding-usp-list li:last-child .text-box{
    border-bottom: none;
    padding-bottom: 0;
}
ul.bidding-usp-list li img {
  width: 2.2rem;
  aspect-ratio: 2/3;
  object-fit: scale-down;
  margin-right: 1.5rem;
}
ul.bidding-usp-list li .text-box {
  border-bottom: 1px solid #6D6D6D;
  padding-bottom: 1.5rem;
  width: 90%;
}
ul.bidding-usp-list li .text-box h6 {
  color: #A9A9A9;
  margin-top: .6rem;
}
.recent-Auctions-item {
  position: relative;
  font-size: 0;
  margin: 0 .1rem;
}
.recent-Auctions-item .detail-box {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 87%;
}
.recent-Auctions-item .detail-box h6 {
  margin-top: .5rem;
  color: #ddd;
}
.recent-Auctions-item .img-box {
  position: relative;
}
.recent-Auctions-item .img-box img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.recent-Auctions-item .notice-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  top: 2rem;
  z-index: 1;
  padding: .5rem 1rem;
  border-radius: 5rem;
  font-size: 1.2rem;
  right: 2.5rem;
}

ul.slick-dots {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
  grid-column-gap: .5rem;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
ul.slick-dots li button {
  padding: 0;
  font-size: 0;
  background: #8F8F8F;
  width: 1.5rem;
  height: .5rem;
  border: 0;
  border-radius: 1rem;
}
ul.slick-dots li.slick-active button {
  background-color: #fff;
}
.luxury-bidding-section {
  overflow: hidden;
}
.black-full-btn {
  background-color: #090909;
  width: 100%;
  display: block;
  padding: 2rem 2.2rem;
  border-radius: 1.6rem;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  position: relative;
}
.black-full-btn img {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  object-fit: scale-down;
}
.black-full-btn::after{
    content: '';
    position: absolute;
    background: url(../img/right-arrow.png) no-repeat;
    width: 1.2rem;
    height: 2rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.project-item {
  position: relative;
  font-size: 0;
  margin-right: 1.4rem;
  max-width: 17.5rem;
}
.project-item .text {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
.project-item .img-box {
  position: relative;
}

.project-item .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}

.bbt-projects-section ul.bidding-usp-list li:last-child .text-box {
  border-bottom: 1px solid #6D6D6D;
  padding-bottom: 1.5rem;
}
.project-slider-box .slick-arrow {
  background-color: #313131;
  border: 0;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: .5rem;
  position: absolute;
  right: 2.5rem;
  top: -2.2rem;
}
.project-box .project-slider-box {
  padding-top: 3rem;
  padding-left: 2.5rem;
}
.bbt-projects-section ul.bidding-usp-list {
  margin-bottom: 3rem;
}
.project-slider-box .slick-prev.slick-arrow {
  right: 5.5rem;
  left: auto;
}
.project-slider-box .slick-arrow::before{display: none;}

.project-slider-box .slick-arrow img {
  margin: 0 auto;
}
.transform-grid-box {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.transform-grid-box .transform-item {
  font-size: 0;
  position: relative;
}
.transform-grid-box .img-box {
  position: relative;
}
.transform-grid-box .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}
.transform-grid-box .img-box video {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  max-height: 25rem;
  object-fit: cover;
}
ul.about-usp-list li h5 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.transform-grid-box .transform-item .text {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
}

.form-box form {
  margin-top: 2.3rem;
  font-size: 0;
}
.form-box form input,.form-box form textarea {
  background-color: #202020;
  border-radius: 1.2rem;
  border: 0;
  width: 100%;
  color: #fff;
  padding: 2.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin: .4rem 0;
  font-family: "Roboto", sans-serif;
}
.form-box form textarea {
  height: 11rem;
}
.form-box form .submit-btn,.btn {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  padding: 2.5rem;
  border-radius: 1.2rem;
  border: 0;
  color: #090909;
  margin-top: 1rem;
  display: block;
  background-color: #fff;
}
.full-video-slider-section  video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.login-bar {
  padding: 2.8rem 0 3.5rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #000;
  border-top-left-radius: 3.2rem;
  border-top-right-radius: 3.2rem;
}
.login-bar .btn {
  background-color: #BEBEBE;
  font-size: 1.8rem;
  border-radius: 2rem;
  text-align: center;
  font-weight: 500;
}
.login-bar .continue-btn {
  text-align: center;
  display: block;
  font-size: 1.8rem;
  color: #A4A4A4;
  font-weight: 400;
}
.full-video-slider-section  ul.slick-dots {
  bottom: 33vh;
}

.full-video-slider-section .heading-box {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.full-video-slider-section {
  position: relative;
}
.full-video-slider-section .heading-box p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: .5rem;
}
.gradient{
  position: relative;
}
.gradient::after {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.84%, rgba(0, 0, 0, 0.6) 103%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1.2rem;
}

.recent-Auctions-item .img-box.gradient::after {
  border-radius: 2rem;
}
@media (max-width: 400px) {
  .project-item{max-width: 16.5rem;}
}
@media (max-height: 700px) {
  .full-video-slider-section ul.slick-dots{bottom: 42vh;}
  .full-video-slider-section .heading-box{  top: 43%;}
}